.Upload{

}
.Messages{

}
.DirectOrders{
    
}
.card{
    background-image:url("../Images/upscaledslatenav.png");
    width: 300px; height: 150px;
    margin-left: 100px;
}

.cards{
   margin-left: 40px;
}

#image{
    width:300px;
    height:300px;
}
#fileinput{
    margin-right: -100px;

}
.uploadbutton{
    margin-left: 20px;
}